.img-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: slideOutContainer 1s forwards, slideInContainer 1s forwards;
  }
  
  @keyframes slideOutContainer {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
    }
  }
  
  @keyframes slideInContainer {
    0% {
      transform: translateY(100vh);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .circle-animation {
    width: 9.3rem;
    height: 9.3rem;
    position: absolute;
    top: 90%;
    left: 92%;
    transform: translate(-50%, -50%);
    background-image: url("../../assets/img/ScrollCircle.png");
    background-size: cover;
    border-radius: 50%;
    animation: spin 4s linear infinite; /* Continuous spinning animation */
    z-index: 2; /* Ensure the circle-animation is above other elements */
  }
  
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  .rocketArrow {
    width: 6.7rem;
    height: 6.7rem;
    background-image: url("../../assets/img/RocketShipArrow.png");
    background-size: cover;
    position: absolute;
    top: 90%;
    left: 92%;
    transform: translate(-50%, -50%);
    animation: hoverUpDown 1.3s ease-in-out infinite alternate;
    z-index: 1;
  }
  
  @keyframes hoverUpDown {
    0% {
      top: 91%;
    }
    100% {
      top: 87%;
    }
  }