<div class="animated-gradient">
    <div class="img-container">
      <div class="circle-animation"></div>
      <div class="rocketArrow"></div>
    </div>
    <div class="text-container">
      <h1 class="permanent-marker-regular gradient-text">
        Nicolas Franco Lomanto
      </h1>
      <h2>
        I'm a Full Stack Developer and Multimedia Designer, committed to crafting
        digital experiences that inspire, empower, and drive innovation.
      </h2>
      <div class="paragraphs">
        <div class="txt1">
          <h3 class="permanent-marker-regular">Currently:</h3>
          <p>Front-end Development at ABSTI.</p>
        </div>
        <div class="txt2">
          <h3 class="permanent-marker-regular">Driven By:</h3>
          <p>
            Pragmatism, storytelling, human connection, <br />tech development &
            optimization.
          </p>
        </div>
      </div>
    </div>
  </div>
  