* {
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

.animated-gradient {
  position: inherit;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #8b4513, #f8a60e, #800080, #f7f581);
  overflow: hidden;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/noiseTexture.jpg");
  mix-blend-mode: overlay;
  opacity: 0.1;
}
.text-container {
  flex-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #fff;
  opacity: 0;
  animation: fadeInText 2s forwards;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.text-container h2 {
  font-size: 1.5rem;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.gradient-text {
  font-size: 36px;
  background: linear-gradient(45deg, #ff5f6d, #9a08fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.paragraphs {
  margin-top: 2rem;
  display: flex;
}
.txt2 {
  margin-left: 10rem;
}

@media (max-width: 760px) {
  .paragraphs {
    flex-direction: column;
  }
  .txt2 {
    margin-left: 0rem;
  }
  .circle-animation {
    top: 90%;
    left: 80%;
  }

  .rocketArrow {
    top: 90%;
    left: 80%;
  }
  .text-container h2 {
    font-size: 1.2rem;
  }
}
