* {
  /* background-color: blueviolet; */
  /* max-width: 100vw; */
  /* height: 100vh; */
  /* margin: 0; */
  box-sizing: border-box;
  font-family: consolas;
}

.img-container {
  position: relative; /* Ensure the parent container is positioned relatively */
  width: 100vw; /* Adjust width as needed */
  height: 100vh; /* Adjust height as needed */
  overflow: hidden;
  animation: slideOutContainer 1s forwards, slideInContainer 1s forwards;
}

@keyframes slideOutContainer {
  0% {
    transform: translateY(0); /* Start from the initial position */
  }
  100% {
    transform: translateY(100vh); /* Move the container out of the screen */
  }
}

@keyframes slideInContainer {
  0% {
    transform: translateY(100vh); /* Start from outside the screen */
  }
  100% {
    transform: translateY(
      0
    ); /* Move the container back to its original position */
  }
}

.circle-animation {
  width: 9.3rem;
  height: 9.3rem;
  position: absolute;
  top: 90%;
  left: 92%;
  transform: translate(-50%, -50%);
  background-image: url("../../assets/img/ScrollCircle.png");
  background-size: cover;
  border-radius: 50%;
  animation: spin 4s linear infinite; /* Continuous spinning animation */
  z-index: 2; /* Ensure the circle-animation is above other elements */
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.rocketArrow {
  width: 6.7rem; /* Adjust width as needed */
  height: 6.7rem; /* Adjust height as needed */
  background-image: url("../../assets/img/RocketShipArrow.png"); /* Background image */
  background-size: cover; /* Ensure background image covers the entire container */
  position: absolute;
  top: 90%;
  left: 92%;
  transform: translate(-50%, -50%);
  animation: hoverUpDown 1.3s ease-in-out infinite alternate;
  z-index: 1; /* Ensure the rocketArrow is below the circle-animation */
}

@keyframes hoverUpDown {
  0% {
    top: 91%;
  }
  100% {
    top: 87%; /* Adjust height as needed */
  }
}

.animated-gradient {
  position: inherit;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #8b4513, #f8a60e, #800080, #f7f581);
  overflow: hidden;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/noiseTexture.jpg"); /* Replace 'noise-texture.png' with your noise texture image */
  mix-blend-mode: overlay; /* Blend mode to blend noise texture with gradient */
  opacity: 0.1; /* Adjust opacity as needed */
}
.text-container {
  flex-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 3; /* Ensure the text is above other elements */
  color: #fff; /* Set text color */
  opacity: 0; /* Start with opacity 0 */
  animation: fadeInText 2s forwards; /* Use keyframe animations to slide in and fade in the text */
}

@keyframes fadeInText {
  0% {
    opacity: 0; /* Start with opacity 0 */
  }
  100% {
    opacity: 1; /* Fade in the text */
  }
}

.text-container h1 {
  font-size: 3rem; /* Adjust title font size */
  margin-bottom: 10px; /* Add spacing between title and subtitle */
}

.text-container h2 {
  font-size: 1.5rem; /* Adjust subtitle font size */
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.gradient-text {
  font-size: 36px; /* Adjust font size as needed */
  background: linear-gradient(
    45deg,
    #ff5f6d,
    #9a08fc
  ); /* Define the gradient colors */
  -webkit-background-clip: text; /* Apply gradient to text */
  background-clip: text; /* Apply gradient to text */
  color: transparent; /* Make text transparent */
  -webkit-text-fill-color: transparent; /* For browser compatibility */
}
.paragraphs {
  margin-top: 2rem;
  display: flex;
}
.txt2 {
  margin-left: 10rem;
}

@media (max-width: 760px) {
  .paragraphs {
    flex-direction: column;
  }
  .txt2 {
    margin-left: 0rem;
  }
  .circle-animation {
    top: 90%;
    left: 80%;
  }

  .rocketArrow {
    top: 90%;
    left: 80%;
  }
  .text-container h2 {
    font-size: 1.2rem;
  }
}
