<div class="contenedor">
  <div class="text">
    <div class="icons">
      <div class="links">
        <a
          class="nav-link"
          target="_blank"
          aria-disabled="true"
          href="nicolomanto@gmail.com"
          ><fa-icon [size]="'lg'" [icon]="faEnvelope"></fa-icon
        ></a>
        <a
          class="nav-link"
          target="_blank"
          aria-disabled="true"
          href="https://nicolomanto.myportfolio.com/"
          ><fa-icon [size]="'lg'" [icon]="faGlobe"></fa-icon
        ></a>
        <a
          class="nav-link"
          target="_blank"
          aria-disabled="true"
          href="https://github.com/Nicoloman"
          ><fa-icon [size]="'lg'" [icon]="faGithub"></fa-icon
        ></a>
        <a
          class="nav-link"
          target="_blank"
          aria-disabled="true"
          href="https://www.linkedin.com/in/nicolaslomanto/"
          ><fa-icon [size]="'lg'" [icon]="faLinkedin"></fa-icon
        ></a>
      </div>
    </div>
    <div class="credits"><p>©Nicolas Franco Lomanto</p></div>
  </div>
</div>
