<div class="contenedor">
    <div class="section">
      <div>
        <p>projects works!</p>
      </div>
      <svg
        class="editorial"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28 "
        preserveAspectRatio="none"
      >
        <defs>
          <path
            id="gentle-wave"
            d="M-160 44c30 0 
                        58-18 88-18s
                        58 18 88 18 
                        58-18 88-18 
                        58 18 88 18
                        v44h-352z"
          />
        </defs>
        <g class="parallax1">
          <use xlink:href="#gentle-wave" x="50" y="3" fill="#568eff" />
        </g>
        <g class="parallax2">
          <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" />
        </g>
        <g class="parallax3">
          <use xlink:href="#gentle-wave" x="50" y="9" fill="#3461c1" />
        </g>
        <g class="parallax4">
          <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff" />
        </g>
      </svg>
    </div>
    <div class="banner">
      <div class="text">
        <p>WORK</p>
        <p>WORK</p>
        <p>WORK</p>
        <p>WORK</p>
        <p>WORK</p>
        <p>WORK</p>
        <p>WORK</p>
        <p>WORK</p>
        <p>WORK</p>
        <p>WORK</p>
        <p>WORK</p>
        <p>WORK</p>
        <p>WORK</p>
      </div>
    </div>
    <div>
      <div class="project">
        <a target="_blank" href="https://www.youtube.com/watch?v=5L3WwGOOFaI" >
          <div class="images-container">
            <img
              class="desktop"
              src="../../assets/img/aznet/azNetDesktop.png"
              alt="Aznet Desktop"
            /><img
              class="tablet"
              src="../../assets/img/aznet/azNetTablet.png"
              alt="Aznet Tablet"
            /><img
              class="mobile"
              src="../../assets/img/aznet/azNetMobile.png"
              alt="Aznet Mobile "
            />
          </div>
        </a>
        <div class="info-container">
          <h2>AZ Net App, Allianz</h2>
          <p>
            Web application with more than ten micro-projects inside. This
            application consists of providing the user with a profile that allows
            him to consult data of suppliers, customers, hire new services, among
            many other things. Also, throughout development, we decided to migrate
            the project from Angular 14 to Angular 15 in order to streamline
            production and user experience.
          </p>
          <div class="techs-container">
            <div class="tech">
              <fa-icon [icon]="faAngular" alt="Angular icon"></fa-icon>
              <p>Angular</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faNodeJs" alt="NodeJs icon"></fa-icon>
              <p>Node</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faDatabase" alt="SQL icon"></fa-icon>
              <p>PSQL</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faAngular" alt="Angular icon"></fa-icon>
              <p>Typescript</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faSass" alt="Angular icon"></fa-icon>
              <p>SASS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="project">
        <a  target="_blank" href="https://www.swissmedical.com.ar/prepagaclientes/">
          <div class="images-container">
            <img
              class="desktop"
              src="../../assets/img/estatica/estaticaWeb.png"
              alt="Estatica Desktop"
            /><img
              class="tablet"
              src="../../assets/img/estatica/estaticaTabler.png"
              alt="Estatica Tablet"
            /><img
              class="mobile"
              src="../../assets/img/estatica/estaticaMobile.png"
              alt="Estatica Mobile "
            />
          </div>
        </a>
        <div class="info-container">
          <h2>Static Web Application - Swiss Medical Group</h2>
          <p>
            Landing page serves as the initial point of contact with prospective
            clients, offering a interface to explore product offerings, request
            quotes, and connect with company advisors.
          </p>
          <div class="techs-container">
            <div class="tech">
              <fa-icon [icon]="faReact" alt="Angular icon"></fa-icon>
              <p>React</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faJs" alt="NodeJs icon"></fa-icon>
              <p>Javascript</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faNodeJs" alt="SQL icon"></fa-icon>
              <p>Node</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faGitAlt" alt="Angular icon"></fa-icon>
              <p>Git</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faSass" alt="Angular icon"></fa-icon>
              <p>SASS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="images-container">
          <img
            class="desktop"
            src="../../assets/img/bySedna/bySednaUser.png"
            alt="Estatica Desktop"
          /><img
            class="tablet"
            src="../../assets/img/bySedna/dashboardProducts.png"
            alt="Estatica Tablet"
          /><img
            class="mobile"
            src="../../assets/img/bySedna/bySednaMobile.png"
            alt="Estatica Mobile "
          />
        </div>
        <div class="info-container">
          <div>
            <h2>E-commerce App - bySedna</h2>
            <p>
              Designed and developed a fully functional e-commerce platform with
              user authentication, database management,shopping cart
              functionality, and a catalog showcasing various items. Additionally,
              it includes a dashboard for management of stock levels and users
              information.
            </p>
          </div>
          <div class="techs-container">
            <div class="tech">
              <fa-icon [icon]="faReact" alt="Angular icon"></fa-icon>
              <p>React</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faJs" alt="NodeJs icon"></fa-icon>
              <p>Javascript</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faNodeJs" alt="SQL icon"></fa-icon>
              <p>Node</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faGitAlt" alt="Angular icon"></fa-icon>
              <p>Git</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faSass" alt="Angular icon"></fa-icon>
              <p>SASS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="images-container">
          <img
            class="desktop"
            src="../../assets/img/zerone/z01Desktop.png"
            alt="Estatica Desktop"
          /><img
            class="tablet"
            src="../../assets/img/zerone/z01Table.png"
            alt="Estatica Tablet"
          /><img
            class="mobile"
            src="../../assets/img/zerone/z01Mobile.png"
            alt="Estatica Mobile "
          />
        </div>
        <div class="info-container">
          <div>
            <h2>E-commerce App - Zerone</h2>
            <p>
              Designed and developed a fully functional  and responsive e-commerce platform utilizing Framer.

            </p>
          </div>
          <div class="techs-container">
            <div class="tech">
              <fa-icon [icon]="faReact" alt="Angular icon"></fa-icon>
              <p>React</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faJs" alt="NodeJs icon"></fa-icon>
              <p>Javascript</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faNodeJs" alt="SQL icon"></fa-icon>
              <p>Node</p>
            </div>
            <div class="tech">
              <fa-icon [icon]="faGitAlt" alt="Angular icon"></fa-icon>
              <p>Git</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  