<div class="contenedor">
    <h2 class="permanent-marker-regular title">Checkout my Design Portfolio!</h2>
    <div class="grid-container">
      <section class="gallery">
        <figure class="gallery__item gallery__item--1">
          <video
            class="gallery__img"
            [playbackRate]="0.8"
            autoplay
            loop
            [muted]="true"
            disableRemotePlayback
          >
            <source
              src="../../assets/videos/mtv.mp4"
              type="video/mp4"
              alt="Gallery Image 2"
            />
          </video>
        </figure>
        <figure class="gallery__item gallery__item--2">
          <video
            class="gallery__img"
            [playbackRate]="0.8"
            autoplay
            loop
            [muted]="true"
            disableRemotePlayback
          >
            <source
              src="../../assets/videos/beatsStudioBudsLomanto.mp4"
              type="video/mp4"
              alt="Gallery Image 2"
            />
          </video>
        </figure>
        <figure class="gallery__item gallery__item--3">
          <img
            src="../../assets/img/portfolio/SquaredBattery.gif"
            alt="Gallery Image 3"
            class="gallery__img"
          />
        </figure>
        <figure class="gallery__item gallery__item--4">
          <video
            class="gallery__img"
            [playbackRate]="0.8"
            autoplay
            loop
            [muted]="true"
            disableRemotePlayback
          >
            <source
              src="../../assets/videos/modularBuilding.mp4"
              type="video/mp4"
              alt="Gallery Image 2"
            />
          </video>
        </figure>
        <figure class="gallery__item gallery__item--5">
          <img
            src="../../assets/img/portfolio/spiderverse.png"
            alt="Gallery Image 5"
            class="gallery__img"
          />
        </figure>
        <figure class="gallery__item gallery__item--6">
          <video
            class="gallery__img"
            [playbackRate]="0.8"
            autoplay
            loop
            [muted]="true"
            disableRemotePlayback
          >
            <source
              src="../../assets/videos/evaRender.mp4"
              type="video/mp4"
              alt="Gallery Image 2"
            />
          </video>
        </figure>
        <figure class="gallery__item gallery__item--7">
          <img
            src="../../assets/img/portfolio/costaRica.png"
            alt="Gallery Image 7"
            class="gallery__img"
          />
        </figure>
        <figure class="gallery__item gallery__item--8">
          <video
            class="gallery__img"
            [playbackRate]="0.8"
            autoplay
            loop
            [muted]="true"
            disableRemotePlayback
          >
            <source
              src="../../assets/videos/nikeEva.mp4"
              type="video/mp4"
              alt="Gallery Image 2"
            />
          </video>
        </figure>
        <figure class="gallery__item gallery__item--9">
          <video
            class="gallery__img"
            [playbackRate]="0.8"
            autoplay
            loop
            [muted]="true"
            disableRemotePlayback
          >
            <source
              src="../../assets/videos/balanz.mp4"
              type="video/mp4"
              alt="Gallery Image 2"
            />
          </video>
        </figure>
        <figure class="gallery__item gallery__item--10">
          <img
            src="../../assets/img/portfolio/backupUkraine-01.png"
            alt="Gallery Image 10"
            class="gallery__img"
          />
        </figure>
        <figure class="gallery__item gallery__item--11">
          <video
            class="gallery__img"
            [playbackRate]="0.8"
            autoplay
            loop
            [muted]="true"
            disableRemotePlayback
          >
            <source
              src="../../assets/videos/BabyGroot.mp4"
              type="video/mp4"
              alt="Gallery Image 2"
            />
          </video>
        </figure>
        <figure class="gallery__item gallery__item--12">
          <video
            class="gallery__img"
            [playbackRate]="0.8"
            autoplay
            loop
            [muted]="true"
            disableRemotePlayback
          >
            <source
              src="../../assets/videos/FocusProperties.mp4"
              type="video/mp4"
              alt="Gallery Image 2"
            />
          </video>
        </figure>
        <figure class="gallery__item gallery__item--13">
          <video
            class="gallery__img"
            [playbackRate]="0.8"
            autoplay
            loop
            [muted]="true"
            disableRemotePlayback
          >
            <source
              src="../../assets/videos/Principal-Sin-Mapping.mp4"
              type="video/mp4"
              alt="Gallery Image 2"
            />
          </video>
        </figure>
        <figure class="gallery__item gallery__item--14">
          <img
            src="../../assets/img/portfolio/VSP-1295.jpg"
            alt="Gallery Image 14"
            class="gallery__img"
          />
        </figure>
      </section>
    </div>
    <div class="loader"></div>
  </div>
  