.contenedor {
  background-color: black;
  max-width: 100vw;
  padding-top: 2rem;
}
/* fonts */

.videoWeb{
  max-width: 100vw ;
}
video::-webkit-media-controls-start-playback-button {
  display: none!important;
}
.videoWeb video{
  max-width: 100%;
}

.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: white;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.gradient-text {
  font-size: 36px; /* Adjust font size as needed */
  background: linear-gradient(
    45deg,
    #ff5f6d,
    #9a08fc
  ); /* Define the gradient colors */
  -webkit-background-clip: text; /* Apply gradient to text */
  background-clip: text; /* Apply gradient to text */
  color: transparent; /* Make text transparent */
  -webkit-text-fill-color: transparent; /* For browser compatibility */
}
* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
}

@media (max-width: 760px) {
  .title{
    font-size: 2rem;
  }
}
