<div class="contenedor">
  <div class="acordiones">
    <ul>
      <li class="active">
        <div class="section-title">
          <h2 class="permanent-marker-regular">Current</h2>
        </div>
        <div class="section-content">
          <p>
            <span class="jobTitle gradient-text">ABSTI</span>
            <span class="description">
              (Aug 2022 - Current, Hybrid, Buenos Aires, Argentina)</span
            >
            <br />&#8226; Web developing with a front-end orientation. <br />
            &#8226; Optimizing, testing, debugging and updating web apps. <br />
            &#8226; UX/UI oriented developing.
          </p>
        </div>
      </li>
      <li>
        <div class="section-title">
          <h2 class="permanent-marker-regular">2022</h2>
        </div>
        <div class="section-content">
          <p>
            <span class="jobTitle gradient-text">Digital House</span>
            <span class="description">
              (July 2022 - December 2022, Remote.)</span
            >
            <br />&#8226; Designed and developed a fully functional e-commerce
            platform with user authentication, database management, and robust
            data visualization in a 6-month course project.<br />
          </p>
        </div>
      </li>
      <li>
        <div class="section-title">
          <h2 class="permanent-marker-regular">2021</h2>
        </div>
        <div class="section-content">
          <p>
            <span class="jobTitle gradient-text">Motion & 3D</span>
            <span class="description">
              (Freelance, Aug 2021 - September 2022, Remote.)</span
            >
            <br />
            &#8226; Delivered creative solutions on tight deadlines. <br />
            &#8226; 3D modeling, texturing and tracking. <br />
            &#8226; 2D Video Animations
          </p>
        </div>
      </li>
      <li>
        <div class="section-title">
          <h2 class="permanent-marker-regular">2020</h2>
        </div>
        <div class="section-content">
          <p>
            <span class="jobTitle gradient-text">Graphic Design</span>
            <span class="description">
              (January 2020 - Jul 2021, Buenos Aires, Argentina).</span
            >
            <br />&#8226; Crafted a social media identity.<br />
            &#8226; Comprehensive livestream solutions.<br />
            &#8226; Ensuring seamless weekly live transmissions. <br />
            &#8226; Managed social media profiles.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="wrapper">
    <svg
      id="prev"
      width="18px"
      height="17px"
      viewBox="0 0 18 17"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g
        id="prev"
        transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)"
      >
        <polygon
          class="arrow"
          points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"
        ></polygon>
        <polygon
          class="arrow-fixed"
          points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"
        ></polygon>
        <path
          d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"
        ></path>
      </g>
    </svg>

    <svg
      id="next"
      width="18px"
      height="17px"
      viewBox="-1 0 18 17"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g>
        <polygon
          class="arrow"
          points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"
        ></polygon>
        <polygon
          class="arrow-fixed"
          points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"
        ></polygon>
        <path
          d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"
        ></path>
      </g>
    </svg>
  </div>
</div>
